html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

    font-size: 10px;
}

* {
    font-family: "Lato Light";
  }

b {
    font-family: 'Lato', sans-serif;
}

i {
    font-family: "Lato Thin", sans-serif;
}

h1, h2, h3, h4 {line-height: 1em;}

h1 {
    font-size: x-large;
    line-height: 0em;
}

h2 {
    border-bottom: 1px solid #848aa3;
    color: #2e3352;
    font-family: "Lato Light";
    font-size: medium;
}

h3 {
    font-size: small;
    color: #474d7f;
}

.tagline {
    font-size: large;
    font-family: "Lato Light"
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.about {
    font-size: 110%
}
.wrapper {
    display: grid;
    grid-template-columns: 114px 1fr 20px 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "hd hd hd hd   hd   hd   hd   hd"
      "sd sd ... main main main main main"
      "ft ft ft ft   ft   ft   ft   ft";
}

.grid {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.flex2col {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-areas:
    "left right";
}

ul {
    list-style-type:none;
    padding-left: 0;
}
.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.header {
    grid-area: hd;
    background-color: #1a2738;
    color: #dedede;
    border-bottom: 2px solid #ffffff;
}



.footer {
    grid-area: ft;
    /*background-color: #3a3a9c;*/
}

.content {
    grid-area: main;
    background-color: #ffffff;
}

.sidebar {
    grid-area: sd;
    background-color: #fcfcfc;
    /*border-right: 1px solid #2a2a2a;*/
}

.sidebar_education {
    margin-top: 30px;
}

.sidebar_skills {
    margin-top: 30px;
}
.profile {
    display: grid;
    grid-template-columns: 430px 200px 1fr;
    grid-template-areas:
    "name profilepic ...";
}

.profile .name {
    grid-area: name;
    text-align: center;
}

.profile .profilepic {
    grid-area: profilepic;

}

.profile .profilepic > img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.education {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 3fr;
    /*grid-template-areas:*/
    /*"date degree school";*/
    font-size: 80%;
}

.publication .date {
    grid-area: date;
    font-family: "Lato Thin", sans-serif;
}

.publication .degree {
    grid-area: degree;
    font-family: "Lato", sans-serif;
}


.publication .school {
    grid-area: school;
    font-family: "Lato Light", sans-serif;
}


.publication {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 4fr 2fr 4fr 1fr;
    grid-template-areas:
    "date title publisher author notes";
    font-size: 80%;


}

.publication .date {
    grid-area: date;
    font-family: "Lato Thin", sans-serif;
}

.publication .title {
    grid-area: title;
    font-family: "Lato Light", sans-serif;
}

.publication .publisher {
    grid-area: publisher;
    font-family: "Lato Thin", sans-serif;
}

.publication .author {
    grid-area: author;
    font-family: "Lato Thin", sans-serif;
}


.publication .notes {
    grid-area: notes;
}

/*look at https://adamlynch.com/flexible-data-tables-with-css-grid/*/

table.publications {
  min-width: 20vw;
  width: auto;
  flex: 1;
  display: grid;
  border-collapse: collapse;
  /* These are just initial values which are overriden using JavaScript when a column is resized */
  grid-template-columns: 1fr 6fr 3fr 6fr;
    font-size: 80%;
}

table.talks {
  min-width: 20vw;
  width: auto;
  flex: 1;
  display: grid;
  border-collapse: collapse;
  /* These are just initial values which are overriden using JavaScript when a column is resized */
  grid-template-columns: 75px 1fr 1fr;
    font-size: 80%;
}

table.awards {
  /*min-width: 20vw;*/
  width: auto;
  flex: 1;
  display: grid;
  border-collapse: collapse;
  /* These are just initial values which are overriden using JavaScript when a column is resized */
  grid-template-columns: 75px 1fr 1fr;
    font-size: 80%;
}

table.software_projects {
    width: auto;
    flex: 1;
    display: grid;
    border-collapse: collapse;
    /* These are just initial values which are overriden using JavaScript when a column is resized */
    grid-template-columns: 75px 75px 1fr;
    font-size: 80%;
}

table.experience {
    width: auto;
    flex: 1;
    display: grid;
    border-collapse: collapse;
      /* These are just initial values which are overriden using JavaScript when a column is resized */
    grid-template-columns: 75px 75px 1fr;
    font-size: 80%;
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 5px;
}

/*td:last-child {*/
/*    overflow: hidden;*/
/*  text-overflow: ellipsis;*/
/*  white-space: nowrap;*/
/*}*/


th {
  position: sticky;
  top: 0;
  background: #6c7ae0;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: #ffffff;
  position: relative;
}

th:last-child {
  border: 0;
}

td:last-child {
    text-overflow: ellipsis;
}

.resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0;
  width: 3px;
  cursor: col-resize;
}

.resize-handle:hover,
/* The following selector is needed so the handle is visible during resize even if the mouse isn't over the handle anymore */
.header--being-resized .resize-handle {
  opacity: 0.5;
}

th:hover .resize-handle {
  opacity: 0.3;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #393939;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}


.meter {
  box-sizing: content-box;
  height: 20px; /* Can be anything */
  position: relative;
  margin: 60px 0 20px 0; /* Just for demo spacing */
  background: #555;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

/*tr:nth-child(even) td {*/
/*  background: #f8f6ff;*/
/*}*/